.App {
  font: roboto;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: auto;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.header-content{
  margin-top: 17px;
}

.App-body {
  background-color: #282c34;
  height: 1200px;
  margin-top: 69px;
}

.App-link {
  color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
